<div class='home_container'>
    <h1>Budgetty</h1>
    <div>
    <%= link_to 'LOG IN',  new_user_session_path , class: 'sign_in' %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: 'sign_up' %>
    </div>    
</div>