<div class='home_container'>
    <h1>Welcome to Budgetty</h1>
    <div>
        <%= link_to 'Sign up', new_user_registration_path, class: 'sign_up' %>
        <%= link_to 'Sign in',  new_user_session_path , class: 'sign_in' %>
    </div>    
</div>