<div class='categories_container'>
  <%= link_to 'Add Record', new_category_path, class: 'add_food' %>
  <% if @records.empty? %>
    <h2> No Categories for this user.</h2>
  <% else %>
      <ul> 
        <% @records.each do |record| %>
           <li>
            <p><%= category.name %></p>
            <p><%= category.amount %></p>
           </li>
        <% end %>
      </ul>  
    </table>
      
  <% end %>
</div>
