.categories_container {
  max-width: 100%;
  margin-top: 120px;
}

.empty {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.category_list {
  width: 90%;
  list-style: none;
  margin: 0 auto;
}

.category_list li {
  width: 100%;
  background-color: white;
  margin-block: 10px;
}

.category_list li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding-block: 10px;
  padding-inline: 50px;
}

.category_list li a .image {
  width: 100%;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.category_name,
.info p {
  color: #434b54;
}

.info div p {
  font-size: 25px;
}

.total_amounts {
  color: black;
}

.add_category_cover {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}

.add_category {
  background-color: #5fb523;
  text-decoration: none;
  color: white;
  padding: 20px;
  border-radius: 2px;
}
